.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card {
  /* position: relative; */
  width: 400px;
  height: 450px;
  margin: 10px;
  border-radius: 20px;
}

.card:hover {
  transform: translateY(-2%);
  transition: transform 0.3s;
  opacity: 0.6;
}
.card-container::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid transparent;
  border-radius: 10px;
  z-index: 1;
  pointer-events: none;
  animation: borderAnimation 2s infinite alternate;
}

@keyframes borderAnimation {
  0% {
    border-color: transparent;
  }
  100% {
    border-color: #007bff; /* Replace with the color of your choice */
  }
}
